

@media only screen and (max-width: 1530px) {
    .each_insurance {
        padding: 50px 35px;
    }

    
}

@media only screen and (max-width: 1485px) {
    .mgt_mobile_center {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1450px) {
    div.post_coments {
        margin: 90px 0;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1405px) {
    .each_insurance_img {
        padding-right: 30px;
    }

    .each_insurance h4 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1390px) {
    .bood {
        height: 410px;
    }
}

@media only screen and (max-width: 1362px) {

    .bod_member_img {
        height: 330px;
    }

    .bood {
        height: 400px;
    }

}

@media only screen and (max-width: 1331px) {

    .bod_member_img {
        height: 310px;
    }

    
.bod_name_n_deg h6 {
    font-size: 15px;
}

.bod_name_n_deg p {
    font-size: 10px;
}

.bod_mem_post p {
    font-size: 14px;
}

.bood {
    height: 390px;
}

}

@media only screen and (max-width: 1310px) {
    .site_nav_links > div {
        padding: 0 10px;
    }    

    .job_title_n_location > h3 {
        font-size: 24px;
    }

    .job_title_n_location p {
        font-size: 20px;
    }

    .post_content {
        padding-right: 40px !important;
    }
}

@media only screen and (max-width: 1270px) {
    .event_bannerr {
        height: 400px;
    }

    .each_mgt_member .bod_member_img {
        height: 400px;
    }

    .bod_wrapa {
        width: 61%;
    }

    .bood {
        height: 380px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 1000px;
    }
}

@media only screen and (max-width: 1235px) {
    .event_bannerr {
        height: 370px;
    }

    .each_mgt_member .bod_member_img {
        height: 370px;
    }

    .banner_content_divv {
        width: 90%;
    }

    
}


@media only screen and (max-width: 1225px) {
    .each_insurance_img img {
        width: 44px;
        height: 44px;
    }

    .site_post_page_section_mobile {
        width: 100% !important;
    }

}

@media only screen and (max-width: 1200px) {
    .site_nav_links, .login_btn, .get_quote_btns {
        display: none;
    }

    .menu_bars_wrapper {
        display: block;
    }

    .site_logo img {
        width: 134px;
        height: 39px;
    }    

    .event_banner, .about_banner {
        height: 270px;
    }

    .each_insurance h4 {
        font-size: 17px;
    }

    .bod_wrapa {
        width: 61%;
    }

    .bood {
        height: 360px;
    }
}

@media only screen and (max-width: 1190px) {

    .each_mgt_member .bod_member_img {
        height: 360px;
    }

    .event_bannerr {
        height: 360px;
    }
}

@media only screen and (max-width: 1180px) {

    

    .banner_content_divv > h3 {
        font-size: 25px;
    }

    .banner_content_divv > p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1170px) {


    .banner_content_divv > h3 {
        font-size: 25px;
    }

    .banner_content_divv > p {
        font-size: 14px;
    }

    .mgt_mobile_center {
        width: 85%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1155px) {
    .bod_wrapa {
        width: 62%;
    }

    .bood {
        /* height: 360px; */
    }
}

@media only screen and (max-width: 1130px) {
    .bod_wrapa {
        /* width: 62%; */
    }

    .bood {
        height: 340px;
    }
}

@media only screen and (max-width: 1101px) {

    .each_mgt_member .bod_member_img {
        height: 350px;
    }

    .event_bannerr {
        height: 350px;
    }

    .each_mgt_member {
        width: 32.33%;
        margin: 0 .5% 50px;
    }

}

@media only screen and (max-width: 1090px) {
    .contact_info > div {
        padding: 0 30px;
    }

    .office_addresses {
        width: 95%;
        margin: 0 auto;
    }

    .event_header {
        padding: 100px 0 60px;
    }

    .event_header h2 {
        font-size: 32px;
    }

    .each_insurance_img {
        padding-right: 22px;
    }

    .each_goals_div {
        padding: 50px 30px;
    }

    .bod_wrapa {
        width: 63%;
    }
}

@media only screen and (max-width: 1066px) {

    /* .bod_wrapa {
        width: 63%;
    } */

}

@media only screen and (max-width: 1060px) {

    .each_mgt_member .bod_member_img {
        height: 410px;
    }

    .event_bannerr {
        height: 410px;
    }

    .each_mgt_member {
        width: 45%;
        margin: 0 2.5% 50px;
    }

    .mgt_mobile_center {
        width: 70%;
        margin: 0 auto;
    }

    .the_mgt_members_wrapper {
        padding: 150px 0 1700px;
    }

}

@media only screen and (max-width: 1044px) {

    .bod_member_img {
        height: 255px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 1000px;
    }

    .bood {
        height: 330px;
    }

    .bod_wrapa {
        width: 64%;
    }
   

}

@media only screen and (max-width: 977px) {
    .bood {
        height: 320px;
    }

    .bod_wrapa {
        width: 65%;
    }
}

@media only screen and (max-width: 960px) {
    div.commentor_image_div {
        width: 56px;
        height: 56px;
    }

    .bod_member_img {
        height: 250px;
    }

    .bood {
        height: 320px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 970px;
    }

    .bod_wrapa {
        width: 66%;
    }

    .bod_name_n_deg h6 {
        font-size: 14px;
    }
    
    .bod_name_n_deg p {
        font-size: 9px;
    }
    
    .bod_mem_post p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 920px) {

    .bod_member_img {
        height: 240px;
    }

    .bood {
        height: 320px;
    }

    .bod_wrapa {
        width: 67%;
    }

    .mgt_mobile_center {
        width: 75%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1230px) {
    .events_img > div > img {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width: 900px){

    

    .banner_content_div > h3 { 
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 33px; 
        line-height: 120%;
    }

    .site_center {
        width: 90%;
    }

    .banner_content_div > h3 br {
        display: none;
    }

    .header_banner {
        height: 350px;
    }


    .second_second {
        padding: 50px 0 70px;
    }
    
    .second_second p br {
        display: none;        
    }


    section.index_services_sec {
        padding: 80px 0;
    }
    
    .index_services_header h4 {
    font-weight: bold;
    font-size: 28px;
    }
    
    .index_services_header p {
    font-size: 15px;
    line-height: 189.4%;
    color: #344248;
    margin-top: 25px;
    }

    .index_services_header p br {
        display: none;
    }
    
    .each_serv_wrapper {
        flex-direction: column;
    }

    .each_serv_wrapper > div {
        width: 100%;
        text-align: center;
    }

    .for_testimonial_header h4 {
    font-weight: 400;
    font-size: 24px;
    }

    .for_testimonial {
        padding: 70px 0 0px;
    }

    .testimonial_scroll {
        overflow: scroll;
        padding: 50px 20px 70px;
    }

    .each_testimony {
        width: 300px;
        margin-right: 25px;
    }
    
    .testi_name h4 {
        font-style: normal;
    font-weight: 500;
    font-size: 18px;
    }

    
    .exp_header h2 {
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
        color: #344248;
    }

    .exp_header h2 br {
        display: none;
    }

    .exp_numbers {
        flex-direction: column;
    }

    .exp_numbers > div {
        margin-bottom: 50px;
        width: 100%;
    }

    .exp_numbers > div:last-child) {
        margin-bottom: 0;
    }

    .blog_index {
        text-align: center;;
    }

    .index_blogg {
        flex-flow: row-wrap;
    }

    .index_blogg .each_blog_post {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .goto_blog {
        text-align: center;
    }

    .futa_header > div {
        padding: 0 20px;
    }

    .futa_links {
        /* padding: 100px 0; */
        flex-direction: column;
    }

    .futa_links > div {
        width: 100%;

    }

    .futa_link_section {
        flex-direction: column;
    }

    .futa_link_section > div {
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    
    .event_banner, .about_banner {
        height: 170px;
    }
    
    section.about {
        padding: 80px 0;
    }

    .about_us_top_desc {
        text-align: center;
    }

    .about_us_top_desc br {
        display: none;
    }

    .goals_n_mission > div > div {
        text-align: center;
        margin-bottom: 60px;
    }

    .goals_n_mission > div > div br {
        display: none;
    }

    .roless {
        padding: 100px 10px;
        width: 100%;
    }

    .roless br {
        display: none;
    }

    .role_image {
        display: none;
    }

    .roles_n_imagess {
        margin-bottom: 1000px;
    }

    .our_goals_wrapper {
        flex-direction: column;
    }

    .our_goals_wrapper > div {
        width: 100%;
    }

    .meet_the_bod_text h3 {
        font-size: 32px;
    }

    .events_img_managers > div {
        width: 47%;
        margin: 0 1.5% 20px;
    }

    /* section.meet_the_board .site_center_new {
        width: 90%;        
    } */

    .site_center_new {
        width: 90%;        
    }

    .events_img_managers {
        padding: 100px 0 70px;
    }

    .top_blog p br {
        display: none;
    }   
    
    .blog_page_blog {
    flex-flow: row-wrap;
    }

    .blog_page_blog > div {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .buy_online_header {
        padding: 40px 0 50px;
        
    }
    
    .buy_online_header h3 {
        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }
    
    .buy_online_header p {
        font-style: normal;
    font-weight: 500;
    font-size: 18px;
    }

    .vbvb {
        flex-direction: column;
    }

    .each_insurance {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 100px 20px 100px 40x;
    }
    

    .job_details_header {
        padding: 0 0 50px;
    }
    
    .job_details_header > h2 {
    font-size: 27px;
    margin-bottom: 0;      
    }
    
    .job_details_header > p {
    font-size: 20px;
    }

    .job_details_header_div {
        padding: 40px 0;
    }

    .bnbn, .bnbnbn, .bnbnbnbn {
        flex-direction: column;
    }

    .bnbnbnbn {
        margin-top: 60px;
    }

    .banner_content_div p br {
        display: none;
    }

    .otherpages_header_color p br {
        display: none;
    }

    .faq_subheader {
        padding: 70px 0 20px;
    }

    .questions_wrapper {
        width: 90%;
        margin: 70px 5% 100px;
    }

    .main_questions h5 {
        font-size: 20px;
    }

    .contact_info > div {
        padding: 0 20px;
    }

    .each_insurance_img {
        padding-right: 25px;
    }

    .each_insurance h4 {
        font-size: 20px;   
    }   

    .each_insurance a {
        font-size: 15px;
    }

    section.servicesss {
        padding: 90px 0 120px;
    }

    .servicesss_headeer h4 {
        font-size: 30px;
    }

    

}

@media only screen and (max-width: 882px) {

    .bod_member_img {
        height: 320px;
    }

    /* .each_bod_member {
        width: 45%;
        float: left;
        margin: 0 2.5% 30px;
        border-radius: 6px 6px 0 0;
    } */

    .bood {
        height: 320px;
    }

    .bod_wrapa {
        width: 90%;
    }

    .center_on_mobile {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .the_bod_members_wrapper {
        padding-bottom: 880px;
    }

    

}

@media only screen and (max-width: 820px) {
    .bod_member_img {
        /* height: 300px; */
    }

    .bood {
        height: 310px;
    }

    .bod_wrapa {
        width: 95%;
    }

  

@media only screen and (max-width: 775px) {
    .bod_member_img {
        height: 300px;
    }

    .bood {
        height: 320px;
    }

    
}

@media only screen and (max-width: 770px) {
    .contact_info > div {
        padding: 0 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }

    .contact_info {
        flex-direction: column;
    }

    .office_addresses {
        text-align: center;
        margin-bottom: 40px;
    }

    .contact_info > div > p:last-child {
        margin-top: 25px;
    }

    .contact_info {
        padding-bottom: 0;
    }

    div.comment_form {
        width: 80%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 740px) {
    .each_mgt_member .bod_member_img {
        height: 390px;
    }

    .event_bannerr {
        height: 390px;
    }

    .each_mgt_member {
        width: 45%;
        margin: 0 2.5% 50px;
    }
}

@media only screen and (max-width: 700px) {
    .avail_jobs {
        flex-direction: column;
    }

    .job_title_n_location {
        width: 100%;
        padding-bottom: 30px;
    }

    .avail_jobs > div.job_desc {
        width: 100%;        
    }
}

@media only screen and (max-width: 775px) {
    .bod_member_img {
        height: 270px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 820px;
    }
}

@media only screen and (max-width: 690px) {
    .each_mgt_member .bod_member_img {
        height: 360px;
    }

    .event_bannerr {
        height: 360px;
    }

    .each_mgt_member {
        width: 45%;
        margin: 0 2.5% 50px;
    }

    
}

@media only screen and (max-width: 660px) {

    

    div[class*="share_on_"] > span {
        display: none;
    }

    div.post_content {
        width: 85%;
    }

    div.post_share {
        width: 10%;
    }

    .post_content {
        padding-right: 20px !important;
    }

    .post_share_part_title > h4 {
        font-size: 13px;
    }

    .each_share {
        padding: 5px 0;
    }

    .site_post_page_section {
        padding: 120px 0;
    }

    .each_mgt_member .bod_member_img {
        height: 380px;
    }

    .event_bannerr {
        height: 380px;
    }

    .each_mgt_member {
        width: 100%;
        margin: 0 0 50px;
    }

    .mgt_mobile_center {
        width: 50%;
        margin: 0 auto;
    }

    .the_mgt_members_wrapper {
        padding: 150px 0 3000px;
    }



}

@media only screen and (max-width: 630px) {
    .bod_member_img {
        height: 260px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 820px;
    }

    .center_on_mobile {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 580px) {
    .bod_member_img {
        height: 300px;
    }

    .bood {
        height: 400px;
    }    

    .bod_wrapa {
        width: 75%;
    }

    .each_bod_member {
        width: 100%;
        margin: 0 0 30px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 2100px;
    }
}

@media only screen and (max-width: 570px) {

    .index_blogg .each_blog_post {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .blog_page_blog > div {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .faq_cont {
        flex-direction: column;
    }

    .faq_cont > div {
        
        margin-bottom: 30px;
    }

    .events_img_managers > div {
        width: 70%;
        margin: 0 15% 20px;
    }

    .mgt_mobile_center {
        width: 53%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 534px) {
  

    .mgt_mobile_center {
        width: 62%;
        margin: 0 auto;
    }

    .the_mgt_members_wrapper {
        padding: 100px 0 3000px;
    }
}

@media only screen and (max-width: 500px) {
    .contact_contact_form {
        width: 95%;
        margin: 40px auto;
        padding: 100px 30px;
    }    

    .events_img > div > img {
        width: 100%;
        height: 300px;
    }

    .bod_member_img {
        height: 320px;
    }

    .the_bod_members_wrapper {
        padding-bottom: 1800px;
    }

    .center_on_mobile {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    /* .each_bod_member {
        width: 100%;
        float: left;
        margin: 0 0 50px;
        border-radius: 6px 6px 0 0;
    } */

    .mang_team_link a {
        font-size: 16px;
    }

    .bod_name_n_deg h6 {
        font-size: 16px;
    }
    
    .bod_name_n_deg p {
        font-size: 11px;
    }
    
    .bod_mem_post p {
        font-size: 15px;
    }

}

@media only screen and (max-width: 470px) {
    .bod_wrapa {
        width: 85%;
    }
}

@media only screen and (max-width: 420px) {
    .banner_content_div {
        width: 85%;
    }

    .mgt_mobile_center {
        width: 75%;
        margin: 0 auto;
    }

    .the_mgt_members_wrapper {
        padding: 100px 0 3000px;
    }
}

@media only screen and (max-width: 405px) {
    .bod_wrapa {
        width: 92%;
    }
}
